<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>{% block title %}{% endblock %} - Fumblr</title>
</head>
<body>
	{% include 'component/header.html' %}

    <div id="content">{% block content %}{% endblock %}</div>

    {% include 'component/message.html' %}
    {% include "component/confirm-modal.html"   %}
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</body>
</html>
