.hide {
	display: none;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.no-content {
	margin-top: 1rem;
	width: 100%;
	text-align: center;
	color: #eee;
}

.error {
	margin: 1rem 0;
  color: $red;
}