{% extends "layout/base.html" %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
<div id="blog">
	<div class="container">
		<h1>{{ user }}</h1>

		{% set class = 'following' if is_following else '' %}
		<button class="btn follow-btn {{ class }}" data-user="{{ user }}">Follow</button>
		<button class="btn msg-btn" data-user="{{ user }}" >Message</button>

		{% for post in posts %}
			{% include "component/post.html" %}
		{% endfor %}

		{% include 'component/message-modal.html' %}

	</div><!-- container -->
</div><!-- home -->
{% endblock %}