{% extends "layout/base.html" %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
<div id="blog">
	<div class="container">
		<h1>{{ user }}</h1>

		<div class="blog-menu">
			<button class="btn follow-btn {{ 'following' if is_following }}" data-user="{{ user }}"></button>
			<button class="btn msg-btn" data-user="{{ user }}" >Message</button>
		</div><!-- blog-menu -->

		{% for post in posts %}
			{% include "component/post.html" %}
		{% endfor %}

		{% include 'component/message-modal.html' %}

	</div><!-- container -->
</div><!-- home -->
{% endblock %}