{% extends "layout/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div id="dashboard">
	<div class="container">
		<h1>Dashboard</h1>

		<button class="btn btn-primary" data-toggle="modal" data-target="#upload-modal">New Post</button>
		{% include "component/upload-modal.html" %}
		{% include "component/edit-modal.html" %}

		{% for post in posts %}
			{% include "component/post.html" %}
		{% else %}
			<div class="no-posts">
				<p>You don't have any posts, why not <a href="#" data-toggle="modal" data-target="#upload-modal">make a post?</a></p>
			</div><!-- no-posts -->
		{% endfor %}
		
	</div><!-- container -->
</div><!-- home -->
{% endblock %}