{% extends "layout/base.html" %}
{% block title %}Following{% endblock %}
{% block content %}
<div id="following">
	<div class="container">
        <ul class="list-group">
        {% for follow in following %}
			<li class="list-group-item">
                <button class="follow-btn pull-xs-right" data-user="{{ follow.target }}">Unfollow</button>
                <a href="{{ url_for('user', username=follow.target) }}">{{ follow.target }}</a>
            </li>
        {% else %}
        <div class="no-content"><em>You're not following anyone</em></div>
		{% endfor %}
        </ul>

	</div><!-- container -->
</div><!-- home -->
{% endblock %}