{% extends "layout/base.html" %}
{% block title %}Followers{% endblock %}
{% block content %}
<div id="followers">
	<div class="container">
        <ul class="list-group">
        {% for follow in followers %}
			<li class="list-group-item">
                <a href="{{ url_for('user', username=follow.follower) }}">{{ follow.follower }}</a>
            </li>
        {% else %}
        <div class="no-content"><em>None is following you :(</em></div>
		{% endfor %}
        </ul>

	</div><!-- container -->
</div><!-- home -->
{% endblock %}