{% extends "layout/base.html" %}
{% block title %}Followers{% endblock %}
{% block content %}
<div id="followers">
	<div class="follwers-wrap">
        {% set count = followers|count %}
        <h4>You have {{ count }} {{ 'follower' if count == 1 else 'followers' }}</h4>
        <ul class="list-group">
        {% for follow in followers %}
			<li class="list-group-item">
                <a href="{{ url_for('user', username=follow.follower) }}">{{ follow.follower }}</a>
            </li>
		{% endfor %}
        </ul>
	</div><!-- followers-wrap -->
</div><!-- home -->
{% endblock %}