{% extends "layout/base.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
<div id="messages">
	<div class="container">
		<h1>Messages</h1>

		<div class="message-view">
			<section class="message-display">
				{% for user in users %}
				<div class="user-messages hide" data-user="{{ user }}">
					{% for message in users[user] %}
					<li class="message list-group-item">
						<span class="message-from">{{ message['from'] }}</span>
						<span class="message-time pull-xs-right">{{ message['created']|timesince }}</span>
						<p class="message-text">{{ message['text'] }}</p>
					</li>
					{% endfor %}
				</div><!-- user-messages -->
				{% else %}
				<div class="no-content"><em>There are no messages.</em></div>
				{% endfor %}
			</section><!-- message-display -->

			<aside class="message-list">
				{% for user in users %}
				<div class="message-user" data-user="{{ user }}">
					{{ user }}
				</div><!-- list-group-item -->
				{% endfor %}
			</aside><!-- message-list -->
		</div><!-- message-view -->
		
	</div><!-- container -->
</div><!-- messages -->
{% endblock %}