.header {
    color: #ddd;

    nav {
		background-color: $primary-color;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}

    input {
        background-color: rgba(0,0,0,0.2);
    }

	.navbar-brand {
		color: #eee;
	}
	
	#search-bar {
		display: inline;
	}	
}