#header {
	.screen-header { display: none; }

	color: #ddd;
	nav {
		@extend %clearfix;
		background-color: $primary-color;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		height: 3rem;
		padding: 0;
	}
	.logo {
		display: block;
		color: #eee;
		height: 3rem;
		font-size: 2rem;
		margin-top: .5rem;
		a {  }
	}
	.search-bar { 
		input { 
			background-color: rgba(0,0,0,0.2);
			color: #eee;
			height: 3rem;	
			width: 100%;
			text-align: center;
		}
	}
	.menu-burger {
		height: 100%;
		padding: 1rem .5rem .5rem 0;
		text-align: center;
		i { font-size: 1.5rem; }
	}
	#header-sidebar {
		display: block;
		transition: all .2s ease;
		position: fixed;
		right: -300px;
		width: 100%;
		height: 100%;
		
		.side-menu {
			z-index: 10;
			position: relative;
			background-color: $primary-color;	
			width: 300px;
			height: 100%;
		}
		.menu-item {
			display: block;
			padding: 1rem .5rem;
			font-size: 2rem;
			border-bottom: 1px solid hsla(0,0,100, 0.1);
			&:last-child { border: none; }
		}
		.mask {
			z-index: 1;
			transition: inherit;
			height: 100%;
			width: 0;
			right: 0;
			position: absolute;
			background-color: #000;
			opacity: .6;
		}
		&.open {
			right: 0;
			.mask { 
				width: 100%;
			}
		}
	}	

	@include media-breakpoint-up(md) {
		#header-sidebar { display: none; }
		.mobile-header { display: none; }
		.screen-header { display: block; }

		.logo { font-size: 1rem; }
		.nav-link {
			margin-top: .5rem;
		}

		.search-bar {
			display: inline;
			input {
				display: inline;
				max-width: 12rem;
				text-align: left;
			}
		}
	}
}