#login {
    .login-menu {
        padding: 3rem;
        .login-buttons {
            background-color: #eeeeee;
            width: 16rem;
            padding: 2rem;
            margin: 0 auto;
            text-align: center;
            a {
                margin: 1rem;
            }
        }
    }
}