#following {
	width: 100%;
	background-color: #eee;
	border-radius: .5rem;
	padding: 2rem 1rem;
	margin: 2rem auto;

	button {
		border: none;
		color: $secondary-color;
		background-color: transparent;
		font-size: .8rem;
	}

	@include media-breakpoint-up(md) {
		max-width: 640px;	
	}
}