#messages {
	.message-view {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	.message-display {
		background-color: rgba(0,0,0, 0.2);
		border-radius: 5px;
		flex: 2 1 400px;
		margin: 1% 1% 1% 0; 
		padding: 1em 0.75em;
		height: 400px;
		overflow-y: auto;
	}

	.user-messages {
		&.hide {
			display: none;
		}
	}

	.message-list {
		background-color: rgba(0,0,0, 0.2);
		border-radius: 5px;
		flex: 1 2 200px;
		margin: 1% 0;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.message-user {
		color: #eee;
		padding: 0.75em 1em;

		&.selected {
			font-weight: 700;
		}

		&:hover {
			background-color: rgba(0,0,0, 0.2);
			cursor: pointer;
		}
	}

	.message {
		.message-from, .message-time {
			font-size: 12px;
			font-weight: 700;
			color: hsl(0,0, 50);
		}
	}
}