#register {
	.register-menu {
		background-color: #eeeeee;
		width: 100%;
		padding: 2rem;
		margin: 0 auto;
	}
	.register-form {
		max-width: 600px;
	}
	.login-buttons {
		text-align: center;
		a { margin: 1rem; }	
	}
	@include media-breakpoint-up(md) {
		.register-menu {
			max-width: 600px;
		}
	}
}
