#register {
  width: 100%;
  background-color: #eee;
  border-radius: .5rem;
  padding: 2rem 1rem;
  margin: 2rem auto;
  
  .register-form {
    max-width: 600px;
  }
  .login-buttons {
    text-align: center;
    a { margin: 1rem; } 
  }
  .error {
    margin: 1rem 0;
    color: $red;
  }
  @include media-breakpoint-up(md) {
    max-width: 640px;
  }
}
