#settings {
    .menu {
        background-color: #eeeeee;
        width: 640px;
        padding: 1rem;
        form {
        	margin-bottom: 1rem;
        }
    }

    .form-error {
        font-size: .8rem;
        color: #FF2466;
    }
}