<header class="header">
	<nav class="navbar mobile-header" role="navigation">
		<div class="nav navbar-nav">
			<div class="container-fluid">	
				<div class="row">
					<div class="logo col-xs-2">
						<a href="{{ url_for('index') }}">F</a>	
					</div><!-- logo -->
					<div class="search-bar col-xs-8">
						<form action="/search" class="form-inline">
							<input class="form-control" type="text" name="q" placeholder="Search Fumblr" />
						</form>					
					</div><!-- search-bar -->
					<div class="menu-burger col-xs-2">
						<i class="fa fa-bars menu-btn pull-xs-right"></i>
					</div><!-- menu-burger -->
				</div><!-- row -->
			</div><!-- container-fluid -->
		</div><!-- nav navbar-nav -->
	</nav><!-- navbar -->

	<div id="header-sidebar">
		<div class="side-menu pull-xs-right">
			<a href="{{ url_for('gallery') }}" class="menu-item">Gallery</a>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('message') }}" class="menu-item">Messages</a>
				<a href="#" class="menu-item post-btn">New Post</a>
				<div class="nav-item dropdown menu-item">
					<button type="button" data-toggle="dropdown" class="nav-item btn btn-outline-info dropdown-toggle">
						{{ current_user.username }}</button>
					<div class="dropdown-menu">
						<a href="{{ url_for('dashboard') }}" class="dropdown-item">Dashboard</a>
						<a href="{{ url_for('settings') }}" class="dropdown-item">Settings</a>
						<div class="dropdown-divider"></div><!-- dropdown-divider -->
						<a href="{{ url_for('following') }}" class="dropdown-item">Following</a>
						<a href="{{ url_for('followers') }}" class="dropdown-item">Followers</a>
						<a href="{{ url_for('likes') }}" class="dropdown-item">Likes</a>
						<div class="dropdown-divider"></div><!-- dropdown-divider -->
						<a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a>
					</div><!-- dropdown-menu -->
				</div><!-- btn-group -->
				{% else %}
				<a href="{{ url_for('login') }}" class="menu-item">Sign in</a>
				{% endif %}
		</div><!-- side-menu -->
		<div class="mask"></div><!-- mask -->
	</div><!-- collapse -->

	<nav class="navbar screen-header" role="navigation">
		<div class="nav navbar-nav">
			<div class="container">
				<a href="{{ url_for('index') }}" class="navbar-brand">Fumblr</a>
				<form action="/search" class="search-bar" class="form-inline">
					<input class="form-control" type="text" name="q" placeholder="Search Fumblr" />
				</form>

				<div class="pull-xs-right">
					<a href="{{ url_for('gallery') }}" class="nav-item nav-link">Gallery</a>

					{% if current_user.is_authenticated %}
					<a href="{{ url_for('message') }}" class="nav-item nav-link">Messages</a>
					<a href="#" class="nav-item nav-link post-btn">New Post</a>
					<div class="nav-item dropdown">
						<button type="button" data-toggle="dropdown" class="nav-item btn btn-outline-info dropdown-toggle">
							{{ current_user.username }}</button>
						<div class="dropdown-menu">
							<a href="{{ url_for('dashboard') }}" class="dropdown-item">Dashboard</a>
							<a href="{{ url_for('settings') }}" class="dropdown-item">Settings</a>
							<div class="dropdown-divider"></div><!-- dropdown-divider -->
							<a href="{{ url_for('following') }}" class="dropdown-item">Following</a>
							<a href="{{ url_for('followers') }}" class="dropdown-item">Followers</a>
							<a href="{{ url_for('likes') }}" class="dropdown-item">Likes</a>
							<div class="dropdown-divider"></div><!-- dropdown-divider -->
							<a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a>
						</div><!-- dropdown-menu -->
					</div><!-- btn-group -->
					{% else %}
					<a href="{{ url_for('login') }}" class="nav-item nav-link">Sign in</a>
					{% endif %}
				</div>
			</div>
		</div><!-- nav navbar-nav -->
	</nav><!-- navbar navbar-light bg-faded -->
</header>