
<div class="post">
	<div class="top-bar">
		<a class="user" href="{{ url_for('user', username=post.user) }}">{{ post.user }}</a>
		<span class="created">{{ post.created }}</span>
	</div>
	<a href="{{ url_for('view_post', id=post.id) }}">
		<img class="img" src="{{ post.link }}">
	</a>
	<div class="bottom-bar">
		<p class="text">{{ post.text }}</p>
		<div class="tags">
			{% for tag in post.tags %}
			<a href="{{ url_for('tag', tag_name=tag) }}" class="tag">#{{ tag }}</a>
			{% endfor %}
		</div>
		<div class="post-menu">
			<span class="likes">likes - {{ post.likes }}</span>
			{% if post.owned %}
			<div class="btn-group  pull-xs-right">
				<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">edit</button>
				<div class="dropdown-menu">
					<button type="button" class="edit-btn dropdown-item" data-post="{{ post.id }}">edit</button>
					<a href="{{ url_for('delete_post', id=post.id) }}" class="dropdown-item">delete</a>
				</div>
			</div>
			{% else %}
			{% set class = 'liked' if post.liked else '' %}
			<button class="like-btn pull-xs-right {{ class }}" data-post="{{ post.id }}">Like</button>
			{% endif %}
		</div><!-- post-menu -->
	</div><!-- bottom-bar -->
</div>
