<div class="post">
	<div class="top-bar">
		<div class="avatar">
			<a href="{{ url_for('user', username=post.user.username) }}">
				<img src="{{ post.user.avatar if post.user.avatar else 'http://i.imgur.com/Z9J5b6m.png' }}">
			</a>
		</div><!-- avatar -->	
		<div class="user">
			<a href="{{ url_for('user', username=post.user.username) }}">{{ post.user.username }}</a>
			{% if post.reblog %}
			<span class="reblog"> reblogged </span>
			<a href="{{ url_for('user', username=post.reblog.username) }}">{{ post.reblog.username }}</a>
			{% endif %}	
		</div><!-- user -->
		<span class="created">{{ post.created|timesince }}</span>
	</div><!-- top-bar -->
	
	<div class="images">
		{% for image in post.images %}	
		<img src="{{ image.link }}">
		{% endfor %}
	</div><!-- images -->
	
	<div class="bottom-bar">
		<p class="text">{{ post.text }}</p>

		{% if post.tags %}
		<div class="tags">
			{% for tag in post.tags %}
				<a href="{{ url_for('tag', tag_name=tag|replace(' ', '_')) }}" class="tag">#{{ tag }}</a>
			{% endfor %}
		</div>
		{% endif %}

		<div class="post-menu">
			<a href="{{ url_for('view_post', id=post.id) }}" class="notes">{{ post.likes|count + post.comments|count + post.reblogs|count}} notes</a>
			
			<div class="pull-xs-right">
				{% if post.owned %}			
				<div class="dropdown">
					<i class="fa fa-cog dropdown-toggle" data-toggle="dropdown" aria-hidden="true" title="edit"></i>
					<div class="dropdown-menu">
						<button type="button" class="edit-btn dropdown-item" data-post="{{ post.id }}">edit</button>
						<button type="button" class="delete-btn dropdown-item" data-post="{{ post.id }}">delete</button>
					</div>
				</div><!-- dropdown -->
			
				{% else %}
				<i class="fa fa-retweet reblog-btn" data-post="{{ post.id }}" aria-hiddne="true" title="reblog"></i>
				<i class="fa fa-comment-o comment-btn" data-post="{{ post.id }}" aria-hidden="true" title="comment"></i>
				{% set class = 'liked' if post.liked else '' %}
				<i class="fa fa-heart-o like-btn {{ class }}" data-post="{{ post.id }}" aria-hidden="true" title="like"></i>
			{% endif %}
			</div>
		</div><!-- post-menu -->
	</div><!-- bottom-bar -->
</div>