<div class="modal fade" id="upload-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">New Post</h4>
            </div>
            <div class="modal-body">
                <form action="/post" method="post" id="upload-form" enctype="multipart/form-data" onsubmit="return false;">
                    <div class="droparea">
                        <p>Drop photo here</p>
                        <div id="dropbox"></div><!-- dropbox -->    
                    </div><!-- dropbox-area -->
                    
			        <div class="form-group">
				        <label for="photo">Photo</label>
				        <input class="form-control" id="photo" type="file" name="file">
			        </div><!-- form-group -->

			        <div class="form-group">
				        <label for="text">Description</label>
				        <input class="form-control" id="text" type="text" name="text" placeholder="Description">
			        </div><!-- form-group -->

			        <div class="form-group">
				        <label for="text">Tags</label>
				        <input class="form-control" id="tags" type="text" name="tags" placeholder="comedy, tragedy, romance, ...">
			        </div><!-- form-group -->
		        </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary pull-xs-left" data-dismiss="modal">Close</button>
                <button type="button" id="upload-btn" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>