.post {
    background-color: #eeeeee;
    width: 640px;
    margin: 3rem auto;
    .top-bar {
        padding: .5rem 1rem 2rem 1rem;
        .user {
            font-size: 18px;
            font-weight: 700;
        }
    }
    .img {
        width: 100%;
        margin: 0;
    }
    .bottom-bar {
        padding: 1rem;
        min-height: 3.5rem;
        @extend %clearfix;
        .text { 
            font-size: 20px;
        }
        .post-menu {
            float: right;
            .like-btn { 
                //
            }    
        }
    }
}