$primary-color: rgb(35, 104, 99);
$primary-color-high: rgb(99, 149, 149);
$secondary-color: rgb(46, 65, 111);
$secondary-color-high: rgb(116, 132, 167);
$tertiary-color: rgb(45, 133, 45);
$tertiary-color-high: rgb(132, 199, 132);
$accent-color: rgb(166, 106, 57);
$accent-color-high: rgb(249, 203, 165);
$blue: rgb(51, 73, 100);
$green: rgb(118, 186, 48);
$red: rgb(204,55,80);