<nav class="navbar navbar-light bg-faded">
	<div class="nav navbar-nav">
		<a href="{{ url_for('index') }}" class="nav-item nav-link">Fumblr</a>
		<div class="pull-xs-right">
			<a href="{{ url_for('gallery') }}" class="nav-item nav-link">Gallery</a>
			
			{% if current_user.is_authenticated %}
			<a href="{{ url_for('upload') }}" class="nav-item nav-link">New Post</a>
			<a href="#" class="nav-item nav-link">{{ current_user.username }}</a>
			<a href="{{ url_for('logout') }}" class="nav-item nav-link">Log out</a>
			{% else %}
			<a href="{{ url_for('twitter.login') }}" class="nav-item nav-link">Sign in</a>
			{% endif %}
		</div>
		
	</div><!-- nav navbar-nav -->
</nav><!-- navbar navbar-light bg-faded -->
