<div class="header">
	<nav class="navbar">
		<div class="nav navbar-nav">
			<a href="{{ url_for('index') }}" class="navbar-brand">Fumblr</a>
			<form action="/search" id="search-bar" class="form-inline">
				<input class="form-control" type="text" name="q" placeholder="Search Fumblr" />
			</form>

			<div class="pull-xs-right">
				<a href="{{ url_for('gallery') }}" class="nav-item nav-link">Gallery</a>

				{% if current_user.is_authenticated %}
				<a href="{{ url_for('upload') }}" class="nav-item nav-link">New Post</a>
				<div class="nav-item dropdown">
					<button type="button" data-toggle="dropdown" class="nav-item btn btn-outline-info dropdown-toggle">
						{{ current_user.username }}</button>
					<div class="dropdown-menu">
						<a href="{{ url_for('dashboard') }}" class="dropdown-item">Dashboard</a>
						<a href="{{ url_for('settings') }}" class="dropdown-item">Settings</a>
						<div class="dropdown-divider"></div><!-- dropdown-divider -->
						<a href="{{ url_for('following') }}" class="dropdown-item">Following</a>
						<a href="{{ url_for('followers') }}" class="dropdown-item">Followers</a>
						<a href="{{ url_for('likes') }}" class="dropdown-item">Likes</a>
						<div class="dropdown-divider"></div><!-- dropdown-divider -->
						<a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a>
					</div><!-- dropdown-menu -->
				</div><!-- btn-group -->
				{% else %}
				<a href="{{ url_for('login') }}" class="nav-item nav-link">Sign in</a>
				{% endif %}
			</div>
		</div><!-- nav navbar-nav -->
	</nav><!-- navbar navbar-light bg-faded -->
</div>
